<div class="header">
    <div class="menu col-sm-12">
        <div class="item-menu col-sm-2"><a [routerLink]="['/initial']">Исходные данные</a></div>
        <div class="item-menu col-sm-2"><a [routerLink]="['/difference']">Метод конечных разностей</a></div>
        <div class="item-menu col-sm-2"><a [routerLink]="['/exponential']">Метод экспоненциального сглаживания</a></div>
        <div class="item-menu col-sm-2">Метод n-кратного экспоненциального сглаживания</div>
        <div class="item-menu col-sm-2">Метод знакопеременного сглаживания</div>
        <div class="item-menu col-sm-2">Метод параболического сглаживания</div>
    </div>
</div>