<!--<div class="row">-->
    <!--<div class="col-sm-3 col-md-2 sidebar">-->
        <!--<div class="menu">-->
            <!--<div class="item-menu"><a [routerLink]="['/initial']">Исходные данные</a></div>-->
            <!--<div class="item-menu">Метод конечных разностей</div>-->
            <!--<div class="item-menu">Экспоненциальный метод</div>-->
            <!--<div class="item-menu">Метод #3</div>-->
            <!--<div class="item-menu">Метод #4</div>-->
            <!--<div class="item-menu">Метод #5</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->