.exponential {
  padding-top: 20px;

  .line-chart {
    padding-right: 20px;
    padding-top: 20px;
    text-align: center;

    svg {
      height: 800px;
      padding-top: 10px;
      padding-left: 20px;
    }
  }
}